[submodule "backend"]
	path = backend
	url = https://github.com/sohbaker/getItDoneBackend
	ignore = dirty
[submodule "frontend"]
	path = frontend
	url = https://github.com/sohbaker/getItDoneFrontend
	ignore = dirty
